.movie {
    /*display: flex*/
    /*justify-content: space-between*/
    width: 250px;
}
.mainWrapper{
    width: 95vw;
}
.container{
    display: grid;
    width: 90vw;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.img {
    width: 230px;
    height: 300px;
}